footer {
	position: fixed;
	display: flex;
	justify-content: center;
	bottom: 0;
	height: 600px;
	width: 100%;
	background-color: $navy;
	background-image:
		url('../../dist/images/bg-footer.svg'),
		url('../../dist/images/bg-stars.svg');
	background-attachment: scroll, fixed;
	background-repeat: no-repeat, repeat;
	background-size: cover, 100%;
	background-position: 50% 100%, 0 0;
	z-index: 1;
	padding-top: 120px;

	div {
		width: 800px;
		text-align: center;

		a {
			color: #d84867;
			cursor: pointer;
			transition: color .3s;

			&:hover {
				color: #ff4c6c;
				text-decoration: none;
			}
		}

		.bboys {
			color: #cbc9c5;
		}
	}

	@media all and (max-width: 1200px) {
		height: 500px;
		background-image:
			url('../../dist/images/bg-footer-smaller.svg'),
			url('../../dist/images/bg-stars.svg');
		padding-top: 90px;
	}

	@media all and (max-width: 740px) {
		height: 400px;
		padding-top: 90px;
	}

	@media all and (max-width: 568px) {
		padding-top: 150px;

		div {
			h2 {
				font-size: 26px;
				line-height: 30px;
			}
		}
	}

	@media all and (max-width: 380px) {
		background-image:
			url('../../dist/images/bg-footer-smallest.svg'),
			url('../../dist/images/bg-stars.svg');
		padding-top: 100px;
	}
}
