html {
	background: $navy url('../../dist/images/bg-html.svg') fixed;
}

body {
	background: url('../../dist/images/bg-body.svg') no-repeat;
	background-size: 100%;
}

.inner {
	max-width: $content-width;
	padding: 0 20px;
	margin: 0 auto;
}
