body {
	padding-bottom: 700px;
}

main {
	background: $navy url('../../dist/images/bg-stars.svg') fixed;
	background-size: 100%;
	padding-bottom: 100px;
	position: relative;
	z-index: 2;

	.wrapper {
		background: url('../../dist/images/bg-intro.svg') 50% 0 no-repeat;
	}
}

.inner {
	max-width: $content-width;
	padding: 0 20px;
	margin: 0 auto;
}
