// Layout.
$content-width: 1400px;

// Layout colors.
$navy: #0f0a2b;
$red: #ff553e;
$blue: #505cfe;
$white: #eaeaea;
$grey: #afafaf;

// Text colors.
$color-text: $white;
$color-link: $white;
$color-link-hover: $white;

// Breakpoints.
$breakpoint-mobile-navigation: 860px;
