.we {
	padding-bottom: 500px;
	text-align: center;
	background: url('../../dist/images/bg-we-the-humans.svg') 50% 100% no-repeat;

	@media all and (max-width: 1200px) {
		background: url('../../dist/images/bg-we-the-humans-smaller.svg') 50% 100% no-repeat;
	}
}
