.we {
	padding-bottom: 500px;
	text-align: center;
	background: url('../../dist/images/bg-we-the-humans.svg') 50% 100% no-repeat;

	@media all and (max-width: 1200px) {
		background: url('../../dist/images/bg-we-the-humans-smaller.svg') 50% 100% no-repeat;
	}

	@media all and (max-width: 820px) {
		padding-bottom: 330px;
		background-size: 700px;
	}

	@media all and (max-width: 568px) {
		padding-bottom: 280px;
		background-size: 600px;
	}
}
